USE [master]
GO
/****** Object:  Database [QuanLyBanHang]    Script Date: 21/06/2021 6:33:57 CH ******/
CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHang.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHang_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 21/06/2021 6:33:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [nchar](10) NOT NULL,
	[TenDM] [nvarchar](50) NULL,
	[Delete] [bit] NULL,
 CONSTRAINT [PK_danhmuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 21/06/2021 6:33:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [nchar](10) NOT NULL,
	[TenND] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[VaiTro] [bit] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 21/06/2021 6:33:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[MaDM] [nchar](10) NULL,
	[Delete] [bit] NULL,
 CONSTRAINT [PK_sanpham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Delete]) VALUES (N'DMDT', N'Danh mục điện tử', NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Delete]) VALUES (N'DMGD', N'Danh mục gia dụng', NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [Delete]) VALUES (N'DMHS', N'Danh mục học sinh', NULL)
GO
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [VaiTro]) VALUES (N'ND01', N'Nguyễn Như Phương ', N'123 ', 1)
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [VaiTro]) VALUES (N'ND02', N'Trần Thái Bảo', N'321', 1)
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [MatKhau], [VaiTro]) VALUES (N'ND03', N'Võ Như Ngọc', N'bca', 1)
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MaDM], [Delete]) VALUES (N'104       ', N'b', 3, 100, N'dmgd      ', 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MaDM], [Delete]) VALUES (N'105       ', N'c', 3, 100, N'dmgd      ', 0)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SoLuong], [DonGia], [MaDM], [Delete]) VALUES (N'123       ', N'123', 132, 43, N'dmhs      ', 1)
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_danhmuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_sanpham_danhmuc]
GO
/****** Object:  StoredProcedure [dbo].[demsosanpham]    Script Date: 21/06/2021 6:33:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[TongSoSanPham]
@madm nchar(10),@sosanpham int output 
as
select @sosanpham=count(masp) from sanpham,danhmuc
where sanpham.madm=danhmuc.madm and sanpham.madm=@madm
GO
USE [master]
GO
